.box {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;  
}
.left{
    color: darkcyan;
    text-align: left;
}
.right  {
    text-align: right;
}
.center {
    text-align: center;
}
.justify { 
    color:aqua ;
    text-align: justify;
}
