body{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
.left{
color: darkcyan;
text-align: left;
}
.right  {
    color: black;
    text-align: right;
}
.center {
    color: darkorange;
    text-align: center;
}
.justify { color:aqua ;
    text-align: justify;
}