.box{
    display: inline-block;
    width: 300px;
    height: 300px;
    color: white;
    font-size: 1.8em;
}
.box-1 {
    background-color:  rgb(255,0,0);
}
.box-2 {
    background-color:  rgb(0,255,0);
}
.box-3 {
    background-color:  rgb(45,150,200);
}
.box-4 {
    background-color:   aqua
}
.box-5 {
    background-color:    bisque
}
.box-6 {
    background-color:   burlywood
}
.box-7 {
    background : #DAADA3
}
.box-8 {
    background : #50ED2A
}
.box-9 {
    background : #F60CE1
}