*{
    margin: 0;
    padding: 0;
}
.box{ 
    width: 260px;
    height : 260px;
    margin: 30px;
    display: inline-block;
}
.container {
    align-items: center;
    text-align: center;
}
h1{
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
    background-color: aqua;
}
h2{
    text-align: center;
    padding-top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-1{background-color: yellow;
    box-shadow: 20px 20px 10px rgb(199, 240, 19);
}
.box-3{background-color: red;
    box-shadow: 20px 20px   10px rgb(247, 6, 6);
}
.box-4{background-color: rgb(225, 0, 255);
    box-shadow: 20px 20px 10px rgb(226, 39, 210);
}
.box-5{background-color: yellowgreen;
    box-shadow: 20px 20px 10px rgb(154, 187, 63);
}
.box-6{background-color: rgb(53, 212, 53);
    box-shadow: 20px 20px 10px rgb(53, 226, 9);
}
.box-7 {background-color: yellow;
    box-shadow: 20px 20px 10px   rgb(219, 223, 13);
}