body {
    background-color: rgba(16, 16, 16,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-family:"DS-DIGII";
    font-size : 5em;
    color: rgb(252, 6, 6); 
}
@font-face {    
    font-family: "DS-DIGII";
    src: url("../fonts/DS-DIGII.TTF");
}