body {
    background-color: rgba(16, 16, 16,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-family: 'Game of Thrones';
    font-size: 6em;
    color: rgb(255, 253, 253); 

}
@font-face {    
  font-family: 'Game of Thrones';
  src: url("../fonts/Game\ of\ Thrones.ttf");
}