body {
    background-color: rgba(16, 16, 16,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-family: 'cinzel', cursive;
    font-size: 6em;
    color: rgb(165, 165, 165);
}
@font-face {
    font-family:'/Game\ of\ Thrones.ttf';
    src: url(/fonts/Game\ of\ Thrones.ttf);
}