body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: blue;
    height: 100vh;
}

h1 {
    font-family: "Waltograph";
    font-size: 9em;
    color: aliceblue;
}





@font-face {
    font-family: "Waltograph";
    src: url("../fonts/waltographUI.ttf");
}