body {
   background-color: rgba(16, 16, 16,.9);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; 
}
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 12em;
    color: red; 
}
