figure {
    margin: 0;
    display: inline-block;
    border: 1px solid rgb(211, 4, 4);
    position: relative;
}
figcaption {
    color: white;
    background: rgb(14, 13, 13);
    transition: all 0.3s;
    display: none;
    position: absolute;
}
figure :hover figcaption {
    display: block;
}
.div{
    background: rgb(14, 13, 13);
}