.contenedor-login{
    width: 350px;
    margin: 0 auto;
    height: 20em;
    box-shadow:  10px 10px  10px rgba(87, 241, 234, 0.6);
    margin-top: 300px;
}
.cabecera-azul{
    background-color: blue;
    color: #fff;
    padding: 10px 30px;
}

.cuerpo-login{
    padding: 10px 30px;
    background-color: rgb(108, 206, 236);
    height: 300px;
}

.titulo-azul{
    color: rgb(245, 247, 248);
}
.input-login{
    width: 100%;
    border-radius: 3px;
}
button{
    border-radius: 5px;
    width: 100%;
    color: rgb(253, 252, 252);
    background-color: blue;
    margin-top: 30px;
}
body{
    background-color: #fff;
}
.boton-inicio{
    background: rgb(22, 25, 216);
    width: 100%;
    margin-top: 10px;
    border-radius:  5px;
}