blockquote {
    font-size: 1.4em;
    color: floralwhite;
    text-align: justify;
}
.box { 
    display: inline-block;
    text-align: justify;
    width: 250px;
    height: 250px;
    background-color: rgb(238, 224, 238) ;
    }
    .box-1{
        margin-top: 2px;
        border-right: 5px solid darkcyan;
        padding: 25px rgb(206,104,104);
        background-color: aliceblue;
        margin-bottom: 20px;
    
    }
    .box-2{
        margin-top: 2px;
        border-right: 5px solid rgb(86, 187, 187);
        padding: 25px rgb(206,104,104);
        background-color: rgb(66, 187, 66);
        margin-bottom: 20px;
    }
    .box-3{
        margin-top: 2px;
        border-right: 5px solid darkcyan;
        padding: 25px rgb(206,104,104);
        background-color: rgb(214, 104, 41);
        margin-bottom: 20px;
    }
    .box-4{
        margin-top: 2px;
        border-right: 5px solid darkcyan;
        padding: 25px rgb(206,104,104);
        background-color: rgb(221, 65, 161);
        margin-bottom: 20px;
    }
    .box-5{
        margin-top: 2px;
        border-right: 5px solid darkcyan;
        padding: 25px rgb(206,104,104);
        background-color: rgb(26, 100, 96);
        margin-bottom: 20px;
    }

