body {
    background-image:url(../img/developer-1920x1080.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;

}

nav {
    display: flex;
    width: 100%;
}
h1{
    color: #000;
    font-size: 45px; 
}

ul li{
    display: inline-block;
    font-size: 25px;
    width: 100px;
    margin-right: 20px;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover {
    color: chartreuse;
}
.linea{
    border-bottom: 1px solid #000;
    font-size: 1px;
    width: 200px;
}
.yobo{
    height: 30vh;
    width: 100px;
    padding-top: 50px;
    position: fixed; 
} 
ul:hover {background-color: aqua;
}
.floating{
    margin-top: 2px;
    width: 100%;
    position: fixed;
}