body {
    background: white;
}
nav {
    display: flex;
    width: 100%;
}
h1{
    color: #000;
    font-size: 45px; 
}
ul li{
    display: inline-block;
}
a:hover {
    color: chartreuse;
}
.linea{
    border-bottom: 1px solid #000;
    font-size: 1px;
    width: 200px;
}
.yobo{
    height: 30vh;
    width: 150px;
    padding-top: 50px;
    position: fixed; 
} 
ul:hover {background-color: aqua;
}
.floating{
    margin-top: 2px;
    width: 100%;
    position: fixed;
    background-color: gray;
}
.linea2{ border-bottom: 1px solid #000;
    font-size: 1px  ;
    width: 20px;
    display: inline-block;
}
