body {
    background: white;
}
nav {
    display: flex;
    width: 100%;
    background-color: bisque;
}
h1{
    color: #000;
    font-size: 45px; 
}
ul li{
    display: inline-block;
 
}
a:hover {
    color: rgb(167, 255, 248);
}
.linea{
    border-bottom: 1px solid #000;
    font-size: 1px;
    width: 150px;
}
.yobo{
    height: 30vh;
    width: 150px;
    padding-top: 50px;
    position: fixed; 
} 
 ul:hover {background-color: rgb(220, 228, 228);
}
.floating{
    margin-top: 2px;
    width: 100%;
    position: fixed;
    background-color: gray;
}
.linea2{ 
    width: 20px;
    border-right: 5px solid rgb(224, 22, 22);
}
