*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
} 

/* estilos encabezados */
li,ul{
    height: 30px;
    padding: 5px;
    font-size: 1.1em;
}
ul:hover {
    background-color: rgb(243, 161, 9);
}
nav {
    height: 100vh;
    width: 255px;
    background-color: rgb(210, 221, 221);
}
.linea{
    border-bottom: 1px solid  black;
}