h1,p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.table-stylee{  
    display: flex;
    justify-content: center;
}
thead{
    background-color: rgb(128, 247, 167);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
td {
    padding: 10px 5px;
    font-size: 1.3em;
    color: rgb(8, 8, 8);
    font-family:'Times New Roman', Times, serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
h1{
    text-align: center;

}
